<app-login [configId]="currentShowingID" [auth]="authToken"></app-login>
<div class="card">
  <form [formGroup]="filter">
    <div class="card-body">
      <div class="form-group">
        <label for="name-input">Suche</label>
        <input type="text" class="form-control" id="name-input" formControlName="name"
               (keyup)="filterPosts()">
      </div>
    </div>
  </form>
</div>
<ul *ngIf="warnings.length>0" class="list-group" style="margin-top: 10px">
  <li *ngFor="let warn of warnings"  class="list-group-item list-group-item-danger">
    <a href="{{warn.url}}">{{warn.url}}</a> {{warn.warning}}
  </li>
</ul>
<ul *ngIf="mode=='update'" class="list-group" style="margin-top: 10px">
  <li *ngFor="let arr of postMyCoReKeys"  class="list-group-item">
    <a href="{{arr[1].url}}" target="_blank" [innerHTML]="arr[1].title"></a> ->
    <a href="{{config.repository+'receive/'+arr[0]}}" target="_blank" [innerHTML]="arr[0]"></a>
    <div class="btn-group float-right" role="group">
      <button (click)='downloadPDF(arr[1])' class="btn btn-primary float-right">Download</button>
      <button *ngIf="authToken.token" (click)='updatePDF(arr[1], arr[0])' class="btn btn-primary float-right">Update</button>
    </div>
  </li>
</ul>
<ul *ngIf="mode=='import'" class="list-group" style="margin-top: 10px">
  <li *ngFor="let post of this.notImported" class="list-group-item">
    <a href="{{post.url}}" target="_blank" [innerHTML]="post.title"></a>
    <div class="btn-group float-right" role="group">
      <button (click)='downloadPDF(post)' class="btn btn-primary">Download</button>
      <button *ngIf="authToken.token && !post.importedURL" (click)='startImport(post)' class="btn btn-primary">Import</button>
    </div>
    <a *ngIf="post.importedURL" target="_blank" href="{{post.importedURL}}" class="float-right">{{post.importedURL}}</a>
  </li>
</ul>

